name: Build Run Unit Tests

on:
  push:
    branches: [ "develop" ]

jobs:
  build_run_unit_tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run Unnit test
      run: dotnet test  Homies.UnitTests/Homies.UnitTests.csproj --no-build --verbosity normal
